[2020-02-07 04:24] ispyhumanfly opened #1 "I would like to help with this project."
How do I help? Very familiar with Perl, the version/environment managers, the general flow of things. And spent considerable time with rakudobrew. I see that you've taken things forward... this looks like it'll be a much better tool. I'd like to help get it to beta with you.

[2020-02-07 14:22] patrickbkr commented on #1
I'm currently only waiting for @rba to upload the latest compile to the [rakubrew website](https://rakubrew.org/) before testing can start.
You are probably a lot more familiar with Perl than I am, so if you have suggestions of how to improve the code layout (how classes and modules work together, the flow of information and such), you are very welcome to clean stuff up. :-)

On my list of open TO

[2020-02-07 14:32] patrickbkr commented on #1
Actually the release files have just been uploaded. So testing can begin! I'm looking for testers on as many platforms as possible (MacOS, Windows, Linux, whatever you can think of).

[2020-02-07 16:15] SqrtNegInf opened #2 "White-space in path name"
The whitespace in directory name 'Application Support' needs to be escaped/quoted.

The install command:

`curl https://rakubrew.org/install-on-perl.sh | sh
`

Yields this output:

[code]

[2020-02-07 17:00] SqrtNegInf commented on #2
Issue goes away with corrected install command:

`https://rakubrew.org/install-on-macos.sh | sh`

[2020-02-07 17:00] #2 closed

[2020-02-12 04:32] SqrtNegInf opened #3 "Failure on MacOS with downloaded version, but local build OK"
As distributed, rakubrew fails for older MacOS (10.11, 10.13) with the error:

[code]

From what I read, the lack of backwards compatibility from 10.15 could be due to '-fstack-check' compiler switch being 'on' by default, but can't test this as I don't have access to even 10.14 (I do see that PAR::Packer targets 10.11 as minimum version, so maybe it's Perl itself that's the problem?)

The good ne

[2020-02-12 15:39] SqrtNegInf opened #4 "Whitespace in path name on MacOS, while building 3rd-party/dyncall"
The whitespace in directory name 'Application Support' needs to be escaped/quoted in the makefile for 'dyncall'.

[code]

At line 23 of 'configure', setting SRCTOP to the full path necessarily includes 'Application Support', and it's embedded whitespace.  This will affect all versions of MacOS.

[2020-02-12 15:46] Coleoid opened #5 "HTTP::Tiny doesn't have method "new""
Getting the same error for most commands I give to rakubrew:

[code]
I do have a modern perl installed, with HTTP::Tiny in scope:

[code]

[2020-02-12 18:03] SqrtNegInf commented on #4
More whitespace woes... I patched the above problem, tried to continue with the build process, but soon stalled out again in 3rdparty/libatomicops:

[code]

I have been using rakudobrew system successfully, so have to wonder if changing the build location to 'Application Support' is just going to be an on-going headache?

[2020-02-13 07:03] patrickbkr commented on #5
Thanks for your report!
This error was corrected in version 2. I suspect you have an earlier version installed.
As the `self-upgrade` command is also affected by this, you won't be able to fix this by upgrading.
What you need to do is delete the rakubrew executable (probably located in ~/.local/share/rakubrew/bin/rakubrew) and reinstall.
Can you try the above and tell if it worked?

[2020-02-13 07:05] patrickbkr commented on #3
Thanks for the report! I have been using a homebrew installed perl to create the package. That was probably a bad idea. I'll look for a different one and prepare a package with that.

[2020-02-13 07:10] patrickbkr commented on #4
Thanks for the report!
These are basically bugs in the build process of Rakudo, NQP and MoarVM. I know for sure Rakudo is able to _run_ in a path that has spaces and unicode characters in it. Obviously the build process still struggles with those.
Fixing this is non trivial.
I don't own a Mac, so have little knowledge. Is this `Application Support` folder the default folder for application specifi

[2020-02-13 11:34] Coleoid commented on #5
Hi, Patrick!
I'm installing in PowerShell via the line given on rakubrew.org:
. {iwr -useb https://rakubrew.org/install-on-powershell.ps1 } | iex
...which I just re-executed on a new machine, and am getting the same issue.  This suggests the PowerShell install accesses an out-of-date rakubrew package.
In that vein, another bug you may already have fixed:
PS C:\Users\Jason\AppData\Local\rakubrew\bi

[2020-02-13 20:26] SqrtNegInf commented on #4
I would avoid the MacOS-specific locations ('~/Library/Application Support' and '~/Applications' and '/Applications') and use the defaults you would for Linux/Unix (Darwin is just a variation on BSD UNIX after all).

[2020-02-14 13:33] patrickbkr commented on #5
You were right with your diagnosis! The `install-on-powershell.ps1` script did actually download an old version. Deployment of the corrected script to the website will take some time. In the meantime you can use this command to install instead (delete your previous installation first):

    . {iwr -useb https://github.com/Raku/rakubrew.org/blob/master/public/install-on-powershell.ps1 } | iex

And

[2020-02-14 13:34] #5 closed

[2020-02-14 16:51] Coleoid commented on #5
Thanks!
  That iwr | iex line didn't work offhand, it cascaded errors.  If you want it, I'll add an issue for that, but by default I won't, since you sent it to me as a quick stopgap.  I grabbed the install file manually from Github, saved it locally, ran it, and the install worked smoothly.
  I got the extra config line in place, opened a new shell, and got a new error.  :/  Progress, yay.  I'll

[2020-02-14 16:52] Coleoid opened #6 "HTTP::Tinyish isn't finding https backend, though two are in place."
Key points:

1.

    code> rakubrew available
    No backend configured for scheme https at App/Rakubrew/Download.pm line 110.

2.

    code> curl -V
    curl 7.55.1 (Windows) libcurl/7.55.1 WinSSL
    Release-Date: [unreleased]
    Protocols: dict file ftp ftps http https imap imaps pop3 pop3s smtp smtps telnet tftp

    code> perl -MLWP::Protocol::https -e "print 'Another https backend right her

[2020-02-14 18:50] patrickbkr commented on #5
The erroring with the Powershell command is probably because I used the wrong URL. The URL in the command I pasted is the one to the Github page, not to the raw script. The website has been updated in the meantime, so the command on the website itself should work now.

[2020-02-15 14:36] patrickbkr commented on #6
I think I fixed this with [this commit](https://github.com/Raku/App-Rakubrew/commit/5f0992170539aa6f302a4b06275ea4e007db04ac). I'll release a new version with this (and a bunch of other fixes) soon.
Thanks for the report!

[2020-02-15 14:36] #6 closed

[2020-02-15 14:48] patrickbkr commented on #4
The problem turns out to be bigger than I hoped. On Windows rakubrew installs to `C:\Users\John Doe\AppData\local\rakubrew`. That folder also has a space in many cases (whenever the user gave his first and last name on account creation). So we'll need a solution for this situation as well.
I pondered building in a temporary folder (`$TMPDIR` on MacOS has no spaces, neither does `/tmp` on Linux), b

[2020-02-15 18:38] FCO opened #7 "Error on MacOS"
fernando@MBP-de-Fernando  ~  curl https://rakubrew.org/install-on-macos.sh | sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1090  100  1090    0     0   1552      0 --:--:-- --:--:-- --:--:--  1550
Downloading rakubrew...
sh: line 24: [: /Users/fernando/Library/Application: bina

[2020-02-16 20:45] patrickbkr commented on #7
Thanks for the report!
This was just fixed by @nbrown in [rakubrew.org #2](https://github.com/Raku/rakubrew.org/pull/2).
The fix is not yet deployed to the website, but that will happen in the next days.

[2020-02-16 20:45] #7 closed

[2020-02-19 18:22] patrickbkr commented on #3
That close was not intended. The fix still needs to be tested.

[2020-02-24 00:58] vrurg opened #9 "A feature for macos"
On macos there is a problem with dynamic libraries. As a security measure, the os rejects to load a dynamic library unless it's located in a system directory like `/usr/lib` or in the same location where the executable is placed. For example, tools installed by MacPorts are placed into `/opt/local/bin` and they have access to `/opt/local/lib`.

This affects all local rakudo installations because w

[2020-02-24 02:10] SqrtNegInf opened #8 "Use of temporary directory value $dir in Build.pm under Darwin"
This 'my' should be removed, as it localizes the value of $dir to just inside this conditional block, making unavailable to 'return':

https://github.com/Raku/App-Rakubrew/blob/5d4feb61bcbc63a89bca6a18c1d74e82012d1df9/lib/App/Rakubrew/Build.pm#L29

If the code follows the 'darwin' branch, then $versions_dir is never set?

https://github.com/Raku/App-Rakubrew/blob/5d4feb61bcbc63a89bca6a18c1d74e8201

[2020-02-24 18:47] patrickbkr commented on #8
Good spotting!

I fixed the first error in [this commit](https://github.com/Raku/App-Rakubrew/commit/1e0a910429511fb40de2aba2008989fc8696279f).

`$versions_dir` is set in a separate file `App::Rakubrew::Variables`. I think that's probably non-obvious and the code layout should be changed somehow. Not sure how yet, though.

I am not entirely sure if there is yet another error in your report that I

[2020-02-24 19:12] patrickbkr commented on #8
@SqrtNegInf I just uploaded v4. Can you give it a try?

[2020-02-24 19:12] patrickbkr commented on #3
@SqrtNegInf I just released v4 with based on a different perl version. Can you give it a try?

[2020-02-24 19:38] SqrtNegInf commented on #8
Downloaded v4, and it looks good (as in: works on older Darwin releases). In general, you can pre-flight this in future releases by verifying that this commands returns nothing:

`strings rakubrew  | grep chkstk`

 Will continue testing, and let you know if anything else turns up.

[2020-02-24 19:50] SqrtNegInf commented on #8
That was quick...
[code]

Presumably if the argument to '--git-cache-dir' were quoted, it would go better?  That was without $RAKUBREW_HOME set, so it was using the default directory.   I will do a separate attempt with a path containing no spaces.

Incidentally, I tried a Windows install too, a couple of days ago, and it also failed because of a space in home folder of the account I was using, "D

[2020-02-24 20:07] patrickbkr commented on #8
The Windows situation is worse than the one on MacOS. The only way out is to fix rakudo being able to build in a folder with spaces. That's on my todo list (see #4).

With respect to the `Too many arguments.` error: I think that's a bug in the rakudo build process. I'm not entirely sure, but think so. If that proves to be true, then we'll have to wait for 2020.03 for the fix. I'll have a look.
Apa

[2020-02-24 20:14] SqrtNegInf commented on #8
OTOH,  my primary use of the system will be 'rakubrew build moar-blead', as I do daily updates for my Raku smoke-test (https://github.com/SqrtNegInf/Rosettacode-Perl6-Smoke), so am motivated to keep up 'rakubrew' build testing...

[2020-02-24 20:34] patrickbkr commented on #8
@SqrtNegInf I hope this is fixed with <https://github.com/rakudo/rakudo/commit/3ec58489e7b512df9e48c782046ceb95e1abdfa4> and <https://github.com/perl6/nqp/commit/b9a1878c4ffe82209be15e0e27b128964365aff6>.

[2020-02-25 00:58] vrurg commented on #9
This is similar to alternative way I was considering, except with few corrections.

- Minor: the command looks monstrous. It's better to have two commands like `add-libdir`, `del-libdir`. Still don't like it, but find for barely used ones. Otherwise it's a correct approach considering that other software could be installed locally in a different path. For example, Oracle DB client install itself i

[2020-02-25 17:30] SqrtNegInf commented on #8
Unfortunately, when using the default path there is still a place where 'Application Support' causes problems:

[code]

If I set $RAKUBREW_HOME (to path with no spaces) then the build completes, and the only problem is that it doesn't know the final $destdir (which I suspect goes back to not correctly setting $versions_dir):

[code]

If I move 'moar-2020.02' from the /tmp build location to the 've

[2020-02-26 06:54] SqrtNegInf commented on #8
To get the installation to the proper location after building, I made the following two changes in Build.pm:

`chdir($tmp_dir= _get_temp_dir());  # line 96`

`File::Copy::Recursive::dirmove("$tmp_dir/$name", $destdir) or die "Can't move installation: $!"; # line 128`

[2020-02-28 18:57] patrickbkr commented on #3
Fixed as stated [here](https://github.com/Raku/App-Rakubrew/issues/8#issuecomment-590511535).

[2020-02-28 18:57] #3 closed

[2020-02-29 18:08] patrickbkr commented on #8
@SqrtNegInf Your changes have been in corporated in [this commit](https://github.com/Raku/App-Rakubrew/commit/5120b2b46b7cbcb66539e4544a80990e5c2f8fe5). Thanks for that!
The fixes to MoarVM, NQP and Rakudo to repair a git cache directory with a space in its path will be done soonish. So starting with 2020.03 building should work on MacOS in its default path (which has spaces).

[2020-03-09 21:58] patrickbkr commented on #8
I have given up on trying to be clever with the spaces in path problem. There are some very difficult hurdles to overcome to get this done cleanly. So rakubrew (in the recently released version 5) now defaults to installing to ~/.rakubrew and C:\rakubrew and warns during install when the install dir contains a space. I hope this solves this problem as good as is possible given the circumstances we

[2020-03-09 21:58] #8 closed

[2020-03-09 22:01] patrickbkr commented on #4
I have given up on trying to be clever with the spaces in path problem. There are some very difficult hurdles to overcome to get this done cleanly. So rakubrew (in the recently released version 5) now defaults to installing to ~/.rakubrew and C:\rakubrew and warns during install when the install dir contains a space. I hope this solves this problem as good as is possible given the circumstances we

[2020-03-09 22:01] #4 closed

[2020-03-17 22:31] patrickbkr commented on #9
@vrurg I'm in the process of implementing this. Above I wrote that directories should be ignored. I'm not sure about that anymore. There are folders with libs in them in /usr/lib/ on my computer. I'd think we want to link those too. What's your opinion? If we should link, should we link the folder directly or recreate the folder structure and only link the files?

[2020-03-18 19:28] vrurg commented on #9
We'd have to experiment on this. I'd expect symlinks to work normally and would rather try them in first place. This way you're less dependent on any possible structure changes within these dirs.

Meanwhile, I have an update. I have recently discovered that `$HOME/lib` is also considered safe and is picked up by the system by default. The advantage of using it is the single place where one can hav

[2020-03-25 00:21] gugod opened #10 "The binary release of rakubrew is not able to download anything from the internet."
Hi,

I was trying the `rakubrew` binary from `https://rakubrew.org/macos/rakubrew` and found out that it cannot download anything from internet. Such as:

[code]
I'm guessing something needs to be done to let `HTTP::Tinyish` correctly chose the right backend for https -- although I'm not sure what that would be.

- What's the output of `rakubrew rakubrew-version`?:

rakubrew v6 Build type: macos O

[2020-03-25 01:19] gugod commented on #10
I've applied this patch and it seems to work. Although I'm only testing with my own perl installation instead of the relocatble-perl brought by `build-macos.sh`.

[code]

[2020-03-25 08:55] patrickbkr commented on #10
@gugod Thank you for the time to look into this and even create a patch! I have pushed a respective commit. I'll try to get a release out this evening. I'd be grateful if you could then give the release a try to see if it actually fixes the issue on MacOS (I don't have access to a Mac to try it myself).

[2020-03-30 08:37] patrickbkr commented on #10
Version 8 of rakubrew finally was released.
@gugod If you find the time, can you test whether this new release works on MacOS?

[2020-03-30 08:58] gugod commented on #10
@patrickbkr

Thanks :D

I just give it a try, the command `available` works, but the command `download` does not, and `build` command also does not work. It looks like they are also failing for the same reason. I'll spend some time to investigate what makes the difference.

Heres' the output of what I tried:

[code]

[2020-03-30 12:43] patrickbkr commented on #10
@gugod: try `rakubrew download moar 2020.02.1` and `rakubrew build moar 2020.02.1`

You're not the first one doing that mistake. I think a warning message is in order.

[2020-03-31 01:55] gugod commented on #10
@patrickbkr thanks for the correction.  I retried and realized there is a different issue. It's more just than not fully packing HTTP::Tinyish into the binary tarball. I'm guess this issue can be consider resolved. 👍

I managed to hunt those error and submitted PR #11.  Please take a look. 🙇

[2020-03-31 01:55] #10 closed

[2020-05-18 14:27] SirBogman opened #12 "rakubrew.org certificate expired"
The certificate for rakubrew.org expired a week ago and it makes it difficult to use.

[2020-05-20 14:09] patrickbkr commented on #12
This seems to be a duplicate of [Raku/rakubrew.org#5](https://github.com/Raku/rakubrew.org/issues/5) -> Closing.
 But thanks for the report anyways!

[2020-05-20 14:09] #12 closed

[2020-05-28 23:02] davehayes opened #13 "Any support needed for csh/tcsh users?"
- What's the output of `rakubrew rakubrew-version`?:

rakubrew v9 Build type: cpan OS: freebsd

- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out):

I have to run in shim mode, see below

- Where is rakubrew installed? (run `rakubrew home` to find out):

~/.rakubrew (edited to keep specifics out of a public issue)

So I installed this via `cpanm App::Rakubrew` i

[2020-05-29 17:59] patrickbkr commented on #13
Thanks for your report!

Installing via CPAN does not limit rakubrew to using `shim` mode. Switching to `env` mode via `rakubrew mode env` should work given the hook is installed. See `rakubrew init` for more information on setting up the hook.

Csh/Tcsh is currently not supported well as I didn't get around to implementing a shell hook yet (I'm not entirely sure it's possible to pull off). The mi

[2020-05-31 15:28] patrickbkr commented on #13
I have just released a new version of rakubrew to CPAN (version 10). Give the CPAN gears a bit time to turn and it should show up. It's not yet uploaded to the website, but that should hopefully also happen soon.

That version has full support for tcsh including auto-completion. As I don't use tcsh personally I'm very grateful for field testing. So if you find any problems with the tcsh support, p

[2020-06-05 19:08] patrickbkr commented on #13
ping @davehayes
Have you noticed the above comment?

[2020-06-08 03:19] davehayes commented on #13
I have. Given all the people I support, I'm just a bit glacial. Please bear with me. Thanks. :)

I did just install your new version. This test fails:

[code]
Due to security reasons I won't post exact output here. However, it looks somewhat like this:

[code]

There's a lot of magic there. :) I tried removing the quote at the end of the `eval` line but that didn't help.

[2020-06-08 07:19] patrickbkr commented on #13
@davehayes I might find some more time this week to look at this.

Can you send me the version of Perl and tcsh you are using? Then I can try to reproduce this. (My local setup currently doesn't show this error.)

Just as a wild guess: Can you try turning these four lines into a single long line and see what happens?

[2020-06-08 11:04] davehayes commented on #13
[code]

[2020-06-10 23:58] patrickbkr commented on #13
I have set up a virtual machine with FreeBSD 12.1 amd64 and installed perl 5.26. tcsh was already installed. The versions match those you listed.
It seems that  `/bin/csh` is also `tcsh` and the one used by default on FreeBSD. This breaks the shell autodetection. But apart from that rakubrew works as I expected.

I did try running the exact command you showed `/usr/local/bin/rakubrew init Tcsh | t

[2020-06-24 11:01] antoniogamiz opened #14 "Cannot install latest version of Moar on Windows"
- What's the output of rakubrew rakubrew-version?:
[code]
- Are you using rakubrew in env or in shim mode? (run rakubrew mode to find out):
`env`
- Where is rakubrew installed? (run rakubrew home to find out):
`C:/rakubrew`

If I run `rakubrew download`, I get the following error:
[code]

[2020-06-24 11:12] patrickbkr commented on #14
That's interesting. The release is clearly there on rakudo.org. I'll have a look at this.

[2020-06-24 11:23] antoniogamiz commented on #14
`rakubrew build moar 2020.06` works perfectly though.

[2020-06-24 11:29] antoniogamiz commented on #14
Agh, it was because I forgot to run `rakubrew switch moar-2020.06` again. Maybe that should be made automatically when you only have one version installed.

[2020-06-24 11:44] #14 closed

[2020-06-24 14:40] patrickbkr commented on #14
@antoniogamiz I think rakubrew should already do that! If there is no version active at the moment and you install one, rakubrew should already switch to that. That possibly didn't work in your case because of the failed download beforehand.

[2020-06-29 08:38] antoniogamiz opened #15 "Powershell installation"
The following commands have been executed from `cmd`:

- What's the output of `rakubrew rakubrew-version`?:
[code]
- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out):
[code]
- Where is rakubrew installed? (run `rakubrew home` to find out):
[code]

I installed `rakubrew` for `cmd` without any problems following the instructions from https://rakubrew.org/. Today,

[2020-06-29 08:40] antoniogamiz commented on #15
I have tried some of the solutions described in [this question](https://stackoverflow.com/questions/546583/why-is-the-powershell-environment-path-different-to-the-system-environment-path), but it does not work.

[2020-06-30 08:39] patrickbkr commented on #15
As you already suspected, rakubrew needs to be installed separately for cmd and Powershell.
The reason is: Rakubrew does not manipulate the system wide PATH variable but the one of the currently running cmd / Powershell window. As such any changes to the PATH rakubrew does in a Powershell window have no effect on any CMD windows (or the other way around), or even the system wide PATH.

A possible

[2020-07-01 09:04] antoniogamiz commented on #15
Hum, that makes sense. Then, I think a warning in the installation instructions will be helpful.

[2020-07-11 19:09] rbt opened #17 "HTML Profile broken due to template location"
I think it might be looking in the wrong location for template.html

[code]

[2020-07-12 03:39] rbt commented on #17
This is a `rakubrew download` issue. `rakubrew build` works as expected.

[2020-07-13 18:51] patrickbkr commented on #17
Actually this is a bug in NQP and it's (non-)handling of relocatability. I'm working on it.

[2020-07-16 21:05] patrickbkr commented on #17
This is now fixed with [NQP 3e5403f1](https://github.com/Raku/nqp/commit/3e5403f161cc3c5b1a52c3670cc56aa80117a96c) and [Rakudo 37d5831](https://github.com/rakudo/rakudo/commit/37d58315d68ab9ea529b0cf27632ff973c8014f4). It should start working in Rakudo 2020.07.

[2020-07-16 21:05] #17 closed

[2020-07-16 22:04] #15 closed

[2020-08-23 07:33] JJ opened #19 "Problem installing from zsh"
I get this error

[code]

When I try to install using zsh. Perl version is 5.20. I'm running Ubuntu 20.04, which is apparently affected [by this](https://stackoverflow.com/questions/54055549/linux-ubuntu-set-illegal-option-o-pipefail)

[2020-08-23 08:11] JJ opened #20 "Add Alpine's "ash" to the set of shells"
`ash` uses `.profile`, and has no completions.

[2020-08-24 09:17] patrickbkr commented on #19
This was already fixed in [899c8c8e416](https://github.com/Raku/rakubrew.org/commit/899c8c8e416962b239a8aec5266f9f6b9b18122a), but is not yet published.
Both rakubrew and the website are waiting for an upload of new releases.
ping @rba

[2020-08-24 09:24] patrickbkr commented on #1
Yes, support for tcsh has been implemented in the meantime.

[2020-08-24 18:32] #20 closed

[2020-09-10 13:27] SqrtNegInf opened #23 "Default 'download' command fails for Windows"
After fresh installs of git, Strawberry Perl and rakubrew, entering 'rakubrew download' gives me:

`Couldn't find a precomp release for OS: "win", architecture: "x86_64"`

I got this response on three machines (virtual Win7 and Win10, and one 'real' Win10).   I saw that antoniogamiz had this same issue in June, but it isn't clear to me how it got resolved.

- What's the output of `rakubrew rakubre

[2020-09-10 13:27] SqrtNegInf opened #24 "Cannot build Moar/Windows releases from (roughly) 2020.07 onwards"
After fresh installs of git, Strawberry Perl and rakubrew, the command `rakubrew build moar-blead` fails (seeing this on both Win7 and Win10), croaking on 'debugserver.c'.  This works:`rakubrew build moar-2020.06`, but this does not: `rakubrew build moar-2020.07`.   Working backwards from the 2020.07 release, I found the last commit I could compile was [15fae6d](https://github.com/rakudo/rakudo/co

[2020-09-11 20:17] patrickbkr commented on #24
Thanks for reporting this! This looks like a bug in MoarVM itself. I have created [a respective ticket](https://github.com/MoarVM/MoarVM/issues/1345) linking to this one. I'm closing this one in favor of the other.

[2020-09-11 20:17] #24 closed

[2020-09-11 20:26] patrickbkr commented on #23
Thanks for reporting this!

I'm pretty sure this is a duplicate of #14 which was fixed and released as version 12. That release is not uploaded to the website yet though. That's why you are currently not able to update to that newer release.

I'll try to see what I can do to get the newer releases uploaded.

Sorry for that!

[2020-09-11 22:02] SqrtNegInf commented on #23
Right, built v13 from the git archive, now `rakubrew download` successfully fetches `moar-2020.08.2`.

Still can't get moar-blead (as per other issue, MoarVM problem), but hopefully that all gets straightened out next week.

[2020-09-11 22:02] #23 closed

[2020-09-16 14:00] anquegi opened #25 "Hot to find the p6doc binary"
- What's the output of `rakubrew rakubrew-version`?:

`rakubrew v9 Build type: macos OS: darwin`

- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out

Usually env, but I tried also with shim

- Where is rakubrew installed? (run `rakubrew home` to find out):
/Users/toni/.rakubrew

Thanks for this great raku version manager, recently I started to learn raku, and goi

[2020-09-16 19:30] patrickbkr commented on #25
Thanks for bringing this up!

I think the documentation tooling is in a large process of refactoring at the moment. As far as I understand the `p6doc` module does not provide a `p6doc` command line utility anymore. According to the [readme](https://github.com/Raku/doc#install-rakudoc) the new `rakudoc` utility is provided [only in a repo](https://github.com/raku/rakudoc) at the moment.

I hope thi

[2020-09-16 19:30] #25 closed

[2020-09-16 19:35] JJ commented on #25
Essentially correct, yes

[2020-10-01 19:19] mendel opened #26 "The release index is not updated - self-upgrade does not work"
It seems somehow new releases after v9 did not make it to the `/releases` dir of the website (or at least the release index JSON document is not updated):

Since `rakubrew self-upgrade` relies on that index being up to date, self-upgrade from v9 does not work:

[2020-10-03 19:45] patrickbkr commented on #26
The process of updating the website and uploading new releases is a manual process. The only person currently able to do the updates is *very* short on time. That's why those updates didn't happen yet. I'm sorry for that. :-(

[2020-10-03 20:12] patrickbkr commented on #26
ping @rba

[2020-10-17 20:35] patrickbkr commented on #26
We now managed to update the website to the latest release.

[2020-10-17 20:35] #26 closed

[2020-10-17 20:36] patrickbkr commented on #19
We finally managed to update the website. So this can be closed now.

[2020-10-17 20:36] #19 closed

[2020-10-17 20:37] patrickbkr commented on #13
We finally managed to push the releases (including this fix) to the website. Closing.

[2020-10-17 20:37] #13 closed

[2020-10-19 06:33] sarna opened #28 "Doesn’t fail hard when git is not installed"
[code]
I would prefer it to ask me to install git instead of doing that.

Thanks for your hard work, getting Raku is really painless with Rakubrew otherwise :)

[2020-11-18 16:39] demanuel opened #30 "rakubrew doesn't work well on raspberry pi 4"
- What's the output of `rakubrew rakubrew-version`?: rakubrew v13 Build type: fatpack OS: linux
- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out): shim
- Where is rakubrew installed? (run `rakubrew home` to find out):

Issue:
[code]

[2020-11-18 23:13] #28 closed

[2020-11-18 23:13] #30 closed

[2020-11-18 23:14] patrickbkr commented on #30
Thanks for the report! I have just pushed a change that makes rakubrew detect `arm64` and `armhf`. This will go live in the upcoming rakubrew v14 (hopefully) soonish.

[2020-11-18 23:16] patrickbkr commented on #28
Thanks for the report! I have just added a logic that checks for git and perl in respective places and notifies the user that the tools are missing for that function. The change will (hopefully) go live in rakubrew v14 soonish.

[2020-12-25 18:25] JJ opened #31 "Add the possibility of installing different zef versions"
`rakubrew build zef` downloads the latest zef version and installs it, no matter what. There's some likelihood this won't work on old versions of raku (just checked 2017.01, and it does not work, for instance). zef has got all releases in its repo, so it shouldn't be difficult to install any version that's decided.

[2020-12-29 10:06] JJ opened #33 "Alias 6.c to 2018.10"
[That release was the last one to implement *only* 6.c](https://github.com/rakudo/rakudo/releases/tag/2018.10). Starting with the next one, implementation of 6.d features was also included. What I propose is simply add a 6.c alias that would actually install 2018.10.

[2020-12-29 18:26] #31 closed

[2020-12-30 11:24] patrickbkr commented on #33
Shouldn't we rather add a respective tag to the rakudo repository instead of special-casing that into rakubrew? (That's what drives the version list of rakubrew.)

[2020-12-30 11:32] JJ commented on #33
Hum, maybe... I can do that easily.

The problem is also that, the way I understand it, that's not really *the
last* 6.c implementation. 6.c implementation has progressed into the newer
releases, with new or disambiguated features under the 6.d implementation.
So it's actually the last *6.c only* implementation, not really the last
6.c implementation. Let me raise the issue somewhere and see if it

[2020-12-30 14:14] vrurg commented on #33
I would disagree that we should use `6.c` name for 2018.10. It's certainly not the last 6.c and naming it so will confuse people. Moreover, I don't see why would we ever need a tag of this kind until 6.c is supported in current Rakudo releases. If anyone cares about 6.c most likely his code is using explicit `use v6.c;` and as such should work with any Rakudo version.

[2021-01-30 20:05] coke opened #34 "can't run rakubrew on OS X"
After downloading a copy of rakubrew for mac and putting it in my bin (and making it executable), attempting to invoke it generates a popup:

[code]

[2021-01-30 20:07] coke commented on #34
Blocking some diagnostics on https://github.com/Raku/App-Rakubrew/issues/34

[2021-01-30 20:13] coke commented on #34
[code]

Would allow a user to override the security requirements for the binary. (This should be noted on the mac download instructions) - Ideally the binary would be signed.

[2021-01-30 21:41] patrickbkr commented on #34
Thanks for the report!

Just for info: It's still possible to install rakubrew from source via CPAN. `cpanm App::Rakubrew` That shouldn't suffer from this.

[2021-01-31 22:46] patrickbkr commented on #34
Do you have Big Sur on ARM running? Asking because of this: https://eclecticlight.co/2020/08/22/apple-silicon-macs-will-require-signed-code/

If yes, it's interesting that it complained about the missing signature and not about the wrong architecture.

[2021-02-03 11:34] patrickbkr commented on #34
Ping @coke

[2021-02-03 13:17] coke commented on #34
[code]

[2021-02-03 13:25] coke commented on #34
Note: the curl|sh instructions *DID* work. I had tried the direct download which complained about security, but even though the sh instructions end up with the same executable, that didn't trigger the security issue.

[2021-03-21 11:11] JJ opened #35 "`rakubrew build zef` warning, latest version"
This is just a warning. It works apparently well:

[code]

- What's the output of `rakubrew rakubrew-version`?:

[code]
- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out):
shim

- Where is rakubrew installed? (run `rakubrew home` to find out):

[code]

[2021-03-30 12:19] patrickbkr commented on #35
Fixed in https://github.com/Raku/App-Rakubrew/commit/007a868ab5c78d8691f67bcfd9b8124b5d85ee56

[2021-03-30 12:19] #35 closed

[2021-04-23 18:39] raydiak opened #36 "Sources on rakubrew.org not updating"
I'm don't know if this is something automated or if somebody just forgot to do it by hand for v16, but https://rakubrew.org/perl/rakubrew is not built from the current version of rakubrew, so you still get the errors which were fixed in 007a868ab5c78d8691f67bcfd9b8124b5d85ee56 when following the official installation instructions at the top of https://rakubrew.org/. And since https://rakubrew.org/

[2021-04-23 19:18] patrickbkr commented on #36
It's a semi automatic process and we missed to update the servers. It's done now. Thanks for the nudge!

[2021-04-23 19:18] #36 closed

[2021-04-23 19:19] patrickbkr commented on #33
Closing this as I think it's not a rakubrew issue.

[2021-04-23 19:19] #33 closed

[2021-04-23 21:31] raydiak commented on #34
I haven't used a mac in a long time and can't test this, but I ended up reading about it for a few hours out of curiosity, and thought I'd share what I learned. Running `xattr -d com.apple.quarantine` or `xattr -c` on the downloaded file should fix this specific issue. Piping the output of curl to sh means there's isn't a directly downloaded file to attach the extended attributes to, which is one

[2021-04-25 18:33] patrickbkr commented on #34
@raydiak So adding the following note to the website would be a good start, right?

[2021-04-25 21:52] raydiak commented on #34
@patrickbkr As long as they aren't running Big Sur, then yes I believe that should work. The error under Big Sur probably says something different anyway. I'm not sure if "debrand" is precisely the right word, I haven't seen it called "branding" in anything I've read. "Unquarantine" or possibly "unsandbox" may be closer to the native dialect.

Given that it shouldn't need any xattrs at all, it may

[2021-05-03 21:29] raydiak commented on #34
It appears that making /path/to/rakubrew executable and then running it via the instructions at https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac (which does include a one-time warning dialog) is adequate to get a directly downloaded copy running. IDK if xattr or codesign methods work on pre-Big Sur, but they all threw errors on Big Sur. Big thanks

[2021-05-18 08:22] patrickbkr commented on #34
The website is up with respective instructions. Thanks for all the support raydiak++ coke++

[2021-05-18 08:22] #34 closed

[2021-05-23 06:57] JJ opened #37 "Use of unintialized value $zef_version"
This is just a warning:

[code]

- What's the output of `rakubrew rakubrew-version`?:

rakubrew v15 Build type: fatpack OS: linux

- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out):

shim

- Where is rakubrew installed? (run `rakubrew home` to find out):

/home/jmerelo/.rakubrew

[2021-05-24 19:30] patrickbkr commented on #37
This is a duplicate of #35 and has been fixed in version 16. You should be able to fix this with `rakubrew self-upgrade`. Can you confirm this works?

[2021-05-26 08:01] patrickbkr commented on #37
ping @JJ

[2021-05-26 12:04] JJ commented on #37
Totally. Sorry.

[2021-05-26 12:04] #37 closed

[2021-06-23 01:59] vrurg opened #38 "rakubrew build zef does it all wrong"
- What's the output of `rakubrew rakubrew-version`?: `rakubrew v16 Build type: fatpack OS: linux`
- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out): shim
- Where is rakubrew installed? (run `rakubrew home` to find out): `$HOME/.rakubrew`

What rakubrew currently does when it installs zef is it, in fact, must not do:

- it pollutes `cwd` with a cloned `zef` dir

[2021-06-23 02:02] vrurg commented on #38
I'd propose `rakubrew` to change two things:

- the path to clone zef sources into must reside either under `~/.rakubrew` or `$TMPDIR/<some randomized subdir>`
- if `.rakubrew` is the choice then any pre-existing `zef` directory must be wiped out first and clone take place into a pristine location

[2021-06-24 12:05] patrickbkr commented on #38
The error message is a bit misleading. rakubrew doesn't actually try to clone zef into cwd. It does the clone in the version dir where zef should be installed to. So e.g. `~/.rakubrew/versions/moar-2021.06/zef`. The error was, that when that directory is already existing (happens when zef has already been installed in that version), then `git checkout master && git pull` was executed in `~/.rakubr

[2021-06-24 14:37] vrurg commented on #38
I'm afraid this is just part of the problem. It doesn't change the fact that for manually registered versions zef is cloned into the current directory. Here is what happens. I have to cloned Rakudo repos. One is my fork, where I do most of the work and from where I produce PRs. And the original repo, which I use for clean tests and bisects. Here is what is looks like with `rakubrew list`:

[code]

[2021-06-24 15:46] patrickbkr commented on #38
Oh! I didn't have external versions on the radar. Yes, there really was more wrong. I have reproduced the problem and fixed it in v18 (v19 is just some cleanup stuff).
Can you check if it now finally works in v19?

[2021-06-24 20:17] vrurg commented on #38
Looks great:

[code]

And on the second run:

[code]

That was fast, thank you!

[2021-06-24 20:17] #38 closed

[2021-06-30 10:08] patrickbkr commented on #9
@vrurg Any updates on this? Is there an actual clean solution that could be implemented in rakubrew? Or should we add a paragraph to rakubrew.org detailing the problem and proposing to link stuff to `$HOME/lib`?

[2021-08-03 07:16] ithgub opened #39 "broke on downloading&switching 2020.08.2"
[code]

And in a new terminal window:
[code]

- What's the output of `rakubrew rakubrew-version`?:
[code]

- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out):
[code]

- Where is rakubrew installed? (run `rakubrew home` to find out):
[code]

OS: antiX 19 (Debian 10 Buster without systemd)
shell: fish

[2021-08-03 07:22] ithgub commented on #39
My fault, run out of space.
I feature-request rakubrew checking for available storage space

[2021-08-03 07:22] #39 closed

[2021-08-04 18:00] ithgub opened #40 "misreport "installed""
This issue is a continuation to https://github.com/Raku/App-Rakubrew/issues/39

This time I intentionally left little available disk space and then:
[code]

Please note `Done, moar-2020.08.1 installed` despite obvious failure. Exitcode was `0` either.
(The specific version `2020.08.1` does not matter. Just an example. Any other would do the same, I believe)

Going further:
[code]
Please note `is a

[2021-08-07 21:05] vrurg commented on #9
Oops, just has been sorting out unread emails and found a notification about your question!

I think adding a documentation paragraph must be the best. Autolinking into rakudo directories seems like an overkill. But doing the same into $HOME/lib may break things for some users. So, let them decide how to handle this.

[2021-09-17 12:40] patrickbkr commented on #9
@vrurg I searched a bit for some documentation on the behaviour of linking on MacOS. I found https://github.com/Homebrew/brew/issues/556#issuecomment-233621637 and https://apple.stackexchange.com/a/414625 , both seem to suggest adapting `LIBRARY_PATH` is the simple fix. Can you clarify? Do you have a link to some documentation about the security limitations when dynamically linking handy?

I have

[2021-09-17 12:54] patrickbkr commented on #39
@ithgub Thanks for the bug report and idea of checking for disk space. I have pondered the idea and I think I won't add logic to do this for two reasons:

- It's difficult to reliably detect out of disk space conditions, as the space can run out in arbitrary moments and thus cause arbitrary failure modes in many different code paths.
- I know few (if not no) other programs that check for out of di

[2021-09-17 14:05] vrurg commented on #9
@patrickbkr The first link you've found is pretty much outdated. The second is related to compilation only.

Unfortunately, I can't currently find the links to the pages where they mention the limitation as a security measure. I'm on a mini-vacation and took a couple of minutes to look into this.

Here a anywhere else, I think it should be 'dynamically link'.

It's not clear, what `..` is related

[2021-09-17 14:07] vrurg commented on #9
Oh, I've rechecked it and the first link is also related to compilation.

[2021-09-17 14:22] patrickbkr commented on #9
Have a relaxing vacation!

[2021-09-17 14:57] patrickbkr commented on #40
This should be fixed by https://github.com/Raku/App-Rakubrew/commit/fdb768a9335771869f8b823da63fe72774bd1531 which is included in the v20 release. If you want to try, just run `rakubrew self-upgrade` to update to the latest version.
If not, please reopen this ticket.

[2021-09-17 14:57] #40 closed

[2021-09-19 10:01] JJ opened #41 ""Version 2021.09 is broken""
This happens in alpine:

[code]

This when issuing rakubrew global moar-2021.09. It had not happened before. It's using the latest Alpine, together with fresh versions of everything in this Dockerfile: https://github.com/JJ/alpine-raku

[2021-09-19 10:14] JJ commented on #41
I think this is related to this commit fdb768a9335771869f8b823da63fe72774bd1531 . It seems to fail when you try `register`ing it into a new location.

[2021-09-19 10:20] lizmat commented on #41
FWIW, I've had some really strange issues with 2021.09 as well, but that may have been a result of switching between master and new-disp branches as well.

[2021-09-19 10:26] JJ commented on #41
I think it happens when you configure the build so that the prefix is something else, as we do in the Dockerfile. I'm going to check it locally; it's probably unrelated to Alpine at all.

[2021-09-19 10:30] JJ opened #42 "More extensive testing is needed"
Right now, just the barest testing is done, basically compiling and so on. This causes new features to break existing build automations, such as #41. A more extensive test suit, testing different use cases, would be needed. Since testing might imply actually building Raku, we should find a way to mock different situations, so I'm not saying this is trivial. But still, avoiding errors in most, or s

[2021-09-19 10:35] JJ commented on #41
Building with this command line:
[code]

Yields yet another error:

[code]

While Raku has been built correctly without an error:

[code]

[2021-09-19 10:36] JJ commented on #41
(that was version 16, BTW)

[2021-09-19 10:45] JJ commented on #41
OK, this works in the last version, no error. So it's likely that's not the issue here.

[2021-09-19 10:59] JJ commented on #41
OK, last version, Alpine, this:

[code]

Yields the same error as above. So it's `build`, not `register` or `global`, and it happens when you use a different preffix.

[2021-09-20 02:27] raydiak commented on #41
On Arch, I'm also having problems with the latest version. I don't recall doing anything special with different branches or extra command line parameters, just basic usage the same as every month's release. I did `rakubrew self-upgrade`, and then `rakubrew build moar-2021.09`. It appeared to build, but I can't switch to it. `rakubrew switch moar-2021.09` silently fails. I get the `Switching to moa

[2021-09-20 07:14] patrickbkr commented on #41
Hi. Thanks for the report and tests! The detection of broken installations entered rakubrew only in the latest version. So there is obviously something broken there. I'll have a look.

[2021-09-20 08:24] patrickbkr commented on #41
@raydiak Thanks for the report. I actually did manage to break version switching in env mode. I have fixed that now and released version 21 with the fix. Can you verify it is fixed for you?

[2021-09-20 08:45] patrickbkr commented on #41
@JJ Hm. I had a look at that Dockerfile. There rakubrew is used to build a rakudo in a custom location. That results in a version that is broken from rakubrews perspective (This has been true in previous versions as well). Subsequently that (broken) version is deleted and the installation in a separate dir is then registered. The thing that has now changed, is that rakubrew (rightfully so) complai

[2021-09-20 08:47] patrickbkr commented on #41
@lizmat I think you probably also observed the "switch silently doesn't work in env mode" bug which is fixed in version 21. So I hope updating should fix the misbehaviour you observed.

[2021-09-20 08:50] lizmat commented on #41
I'm not a rakubrew user.  The breakage I saw was maybe caused by the same underlying change in Rakudo?

[2021-09-20 09:06] patrickbkr commented on #42
Thanks for the poke!

I don't see much of a problem in mocking a rakudo installation.

The problem that kept me from adding more testing to rakubrew up to now is the strong interconnection of rakubrew and its environment. Rakubrew can hook into the outer shell and modifies the PATH variable. It has funcionality depending on the CWD. It also works on Windows in PowerShell and CMD. How can I setup a

[2021-09-20 09:07] patrickbkr commented on #41
@lizmat OK. Understood.

[2021-09-20 09:28] raydiak commented on #41
@patrickbkr++ v21 works correctly for me, it switched to 2021.09 with no problems. Thanks for the speedy fix!

[2021-09-20 12:39] JJ commented on #41
Well, it would really have preferred tha backward compatibility was not broken; that is why I've created the issue #42. A lot of infraestructure is going to rely on rakubrew, and breaking them does not contribute to customer experience.

The workaround you mention simply will not do. There might be other things broken, and passing through is going to only hide those problems. If you are no longer

[2021-09-20 13:35] patrickbkr commented on #41
@JJ Do you have an idea how we could do both, not break backward compatibility and at the same time also not hide the fact that the build went wrong?

A bit unrelated to this ticket, is there any reason you are relying on rakubrew to do the build instead of doing the build directly? It would make the script more reliable by having one dependency less. I didn't test the following, but that's how it

[2021-09-30 11:00] CIAvash opened #43 "Make tarball of executable available in releases"
Is it possible to create tarball of the (one big) executable file and the LICENSE file. With version in its name, and a signature file and/or checksums. And publish them in the GitHub releases?

It seems the releases are uploaded to the rakubrew.org server, but I am not able to access them, unless I'm missing something.

Thinking of creating a binary package for AUR.

[2021-09-30 11:56] patrickbkr commented on #43
Hi! I can make sure the previous releases are also accessible on rakubrew.org. (I prefer not to depend on GitHub too much.)
May I ask: Is there a reason, you prefer to base the AUR package on the fat-packed script instead of on the CPAN releases?
The CPAN version behaves a little different in that it prevents `self-upgrade` from working. That might be preferable behavior for a distro package as we

[2021-09-30 12:27] CIAvash commented on #43
Just faster installation, I installed with `cpanm` and it took a while, I guess `--notest` can help. There is already [a package](https://aur.archlinux.org/packages/rakubrew/) for installing via perl packages and makefile, maybe that is faster, I don't know. I usually use binary packages to avoid building everything, though in this case it's not really a binary. A lot of people prefer to build pac

[2021-11-05 07:53] patrickbkr commented on #9
@vrurg

I have searched a bit more for a source for the whitelist dlopen dir thing. Without success. The best I could find was:

https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man3/dlopen.3.html

Looking mostly at the Paragraph "Searching". There some env vars are listed that are searched when dlopening a library. It says `The environment variables ar

[2021-11-05 13:51] vrurg commented on #9
I had had spend so much time on testing at the time, that was reluctant to re-test again. The man page caused a reaction in me of the kind "what? did they forget to update it?" But it seems they didn't. In fact, `LD_LIBRARY_PATH` does work. Again. For the clarity, here is what I was testing it with:

[code]

This fails as soon as Rakudo is unable to resolve and load the library. And it did fail fo

[2021-11-05 17:05] patrickbkr commented on #9
So there is nothing to do here right? No need to add anything to the documentation?

[2021-11-05 21:41] vrurg commented on #9
Yes. So, I'm closing and should've done it in first place.

Thank you!

[2021-11-10 21:01] vrurg commented on #9
@patrickbkr not everything is as good as expected. They do allow use of `LD_LIBRARY_PATH`. Kinda... In fact, here is what happens:

[code]

The warning is gone if I symlink _/opt/local/lib_ into _$HOME/lib_, literally.

I'd re-open this for a while as it's probably still worth considering.

[2021-11-29 16:19] patrickbkr commented on #43
Should be fixed. See https://rakubrew.org/releases

I think CPAN (unsure which piece of the stack) somehow auto generates a man page from the POD documentation in the module.

[2022-01-13 00:37] atweiden opened #44 "rakubrew build moar-blead: libmoar.so not found"
- What's the output of `rakubrew rakubrew-version`?: `rakubrew v26 Build type: cpan OS: darwin`
- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out): `shim`
- Where is rakubrew installed? (run `rakubrew home` to find out): `/Users/user/.rakubrew`

[code]

libmoar.so is in nqp/MoarVM directory

[code]

[2022-01-13 20:09] patrickbkr commented on #44
@atweiden Thanks for the report!

@vrurg Do you have an idea what might be going on here?

[2022-01-13 20:52] vrurg commented on #44
The problem is in `--toolchain=posix`. I think it's something to report to MoarVM because it looks like the option makes its build to install `libmoar.so` instead of `libmoar.dylib`.

[2022-01-25 14:59] kuerbis opened #45 "Can not build 2016.08 or less"
rakubrew v26 Build type: fatpack OS: linux
env
/home/mm/.rakubrew

Can not build 2016.08 or less.
2016.09 or greater work.
Couldn't find a build::setup module on CPAN.

remote: Enumerating objects: 164, done.
remote: Counting objects: 100% (149/149), done.
remote: Compressing objects: 100% (35/35), done.
remote: Total 62 (delta 55), reused 32 (delta 27), pack-reused 0
Entpacke Objekte: 100% (62/62

[2022-02-09 12:01] demanuel opened #46 "Variable "$self" will not stay shared at (re_eval 10) line 1"
- What's the output of `rakubrew rakubrew-version`?:

rakubrew v26 Build type: fatpack OS: linux

- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out):

env

- Where is rakubrew installed? (run `rakubrew home` to find out):

/home/demanuel/.rakubrew

When i do `rakubrew build moar master` to update my raku i get this warning:

I get these warning several times in

[2022-02-17 13:50] SqrtNegInf opened #47 "MacOS build of jvm-2021.12 reports success, yet marked 'broken' and cannot switch to it"
### The Problem
Attempted to build with the command:

<tt>rakubrew build jvm-2021.12</tt>

Tail end of build log:
[code]
But attempting to use the build fails:
[code]
However if I call it directly, it works fine
[code]
### Work-arounds (not good,  good)

I wondered if the <tt>is_version_broken</tt> routine (<tt>VersionHandling.pm</tt>) was failing
here for not finding a matching name, as per line

[2022-02-19 04:25] vrurg commented on #9
This seems to be a loooong saga... Ok, here  is what I discovered today with macOS Monterey. Not sure if earlier macOS releases behave differently, but this is not much of an issue.

So, here we go. It seems that `LD_LIBRARY_PATH` is unreliable. Wether it works or not changes depending on phases of the Moon or whatever else they consider relevant at Apple. But the variable is not the only one supp

[2022-02-19 21:28] patrickbkr commented on #9
@vrurg Can you clarify on what you think rakubrew does to `DYLD_LIBRARY_PATH`? I ask, because I am unaware of rakubrew modifying environment variables. Grepping the source for `DYLD_LIBRARY_PATH` yields no results.

[2022-02-19 21:33] vrurg commented on #9
Here is the example:

[code]

The likely location is _perl-darwin-2level/lib/site_perl/5.26.1/PAR.pm_, line 1052.

[2022-02-19 21:38] patrickbkr commented on #9
Ouch. That seems plausible. I guess it's PAR relying on `DYLD_LIBRARY_PATH` somehow. In that specific example it only prefixes the env var. Is that enough to break things for you? I'll see if I can find out if there is anything I can do about PAR modifying that env var.

[2022-02-19 21:51] patrickbkr commented on #9
To understand the problem better: Do I assume correctly, that the problem only exist when using shim mode and disappears when using env mode?

[2022-02-19 22:22] patrickbkr commented on #46
@vrurg: Can you make any sense of this? This seems to refer to [`3rdparty/nqp-configure/lib/NQP/Macros.pm:257`](https://github.com/Raku/nqp-configure/blob/9b98931e0bfb8c4aac61590edf5074e63aa8ea4b/lib/NQP/Macros.pm#L257). Is this something caused by the rather old Perl version?

[2022-02-19 22:38] vrurg commented on #9
Unfortunately, I'm avoiding env mode as I'm not sure it wouldn't break my setup. But it should be ok. I tested `OpenSSL` module. It fails when ran through a shim. But tests are passing when I do them with _rakudo-m_ binary directly from the installation directory. The only observable difference in both cases is the temporary directory in the environment.

That's all I have for now.

[2022-02-20 01:10] vrurg commented on #46
Quick googling points into the same direction: a problem with older versions of Perl. @demanuel any chance to try with some less ancient Perl version?

I wonder if it still makes sense in maintaing 5.10.1 as the earliest supported release.

[2022-02-20 16:23] demanuel commented on #46
What's the minimum perl version required? The perl version i have installed is 5.16.3

[2022-02-20 17:44] patrickbkr commented on #46
I think the earliest we currently support is 5.10.1. So yes, the version 5.16.3 you are using is a supported version. To put things in context, the build does work. It's just that on older Perls a warning (unsure if legitimate) is thrown multiple times.

The question remains if a bump of supported version is in order, given that version 5.10 was released in 2007 and 5.16 was released in 2012.

@de

[2022-02-20 17:48] demanuel commented on #46
@patrickbkr RHEL 7.9 :-)

RHEL 7.9 will be supported until June 30, 2024

[2022-02-20 17:51] patrickbkr commented on #46
OK. Then dropping support for 5.16 is not an option. Question then is, whether the warning is grave enough to do something about it. Opinions?

[2022-02-20 18:26] demanuel commented on #46
if rakubrew guarantees that the installation is good, i guess rakubrew could detect if the perl version is old and use perl -X or something similar.

[2022-02-20 23:18] vrurg commented on #46
In 2020 they release with Perl 5.16???? Oh, my...

It seems, from what I found in the net, that the warning has always been considered rather incorrect. And it does look weird considering that nobody disable use of lexicals in a regexp code block.

What I'm not going to do is to re-write that regex. It took sufficiently much of my time and blood for me been reluctant to invest any more into it. Es

[2022-02-21 08:37] patrickbkr commented on #46
I think it's possible to do a `no warnings;` conditional on the Perl version. At least the manual of the [If module](https://metacpan.org/pod/if#no-if) suggests it's possible. So we could just disable all warnings on Perls 5.16 and older.

[2022-02-23 10:26] CIAvash commented on #43
@patrickbkr Hi, the https://rakubrew.org/releases no longer shows the files paths and I get error 403 when I try to get https://rakubrew.org/files/26/perl/rakubrew for example.

[2022-02-23 10:37] patrickbkr commented on #43
Seems like the server somehow fell back on an older version. I'll have a look in the evening.

[2022-02-24 09:23] patrickbkr commented on #43
As I suspected, the server somehow fell back to an old version of the website. Fixed now.

[2022-02-24 09:23] #43 closed

[2022-03-05 16:18] patrickbkr commented on #9
@vrurg Can you try the executable found here: https://165-234419075-gh.circle-artifacts.com/0/rakubrew-macos
and check if the problem with modified `DYLD_LIBRARY_PATH` is fixed?

I wasn't able to test it myself, as I'm probably limited by https://developer.apple.com/library/archive/documentation/Security/Conceptual/System_Integrity_Protection_Guide/RuntimeProtections/RuntimeProtections.html i.e. o

[2022-03-05 16:19] patrickbkr commented on #9
Accidental close. It's not verified yet, that the fix works.

[2022-03-05 22:45] raiph commented on #9
I don't have a Mac or know anything about them, but I like to research things, and in response to an earlier SO I found these:

* [Error: `dlopen() Library not loaded Reason: image not found`](https://stackoverflow.com/questions/19776571/error-dlopen-library-not-loaded-reason-image-not-found) (8 years ago, pre [System Integrity Protection](https://en.wikipedia.org/wiki/System_Integrity_Protection)

[2022-03-10 14:32] patrickbkr commented on #9
ping @vrurg https://github.com/Raku/App-Rakubrew/issues/9#issuecomment-1059790664

[2022-03-10 20:58] vrurg commented on #9
Sorry for late reply, I have little spare time and was keeping this topic unread as a reminder to myself to take care of it.

Briefly, the outcomes of the new binary are promising. I have replaced the original one and then did `rakubrew rehash` to update the shims. Now `raku -I. t/01-basic.t`, for example, works as a charm.

Worse it gets if I use `prove6` or `zef test`. Not sure what and how rese

[2022-03-10 20:58] vrurg commented on #9
Ah, and surely: thanks! :)

[2022-03-10 22:10] patrickbkr commented on #9
Is it possible you are observing this: https://developer.apple.com/library/archive/documentation/Security/Conceptual/System_Integrity_Protection_Guide/RuntimeProtections/RuntimeProtections.html ?

[2022-03-11 00:44] vrurg commented on #9
You could be right and I have pinned it down! I tested a simple script which starts itself and prints the environment variable. It does so with `run` routine invoking `raku` shim. It worked well, both invocations reported the variable value.

But then I took a closer look at `prove6` and noticed that it is, apparently, using `/usr/bin/env`. So, I modified the script to do the secondary invocation

[2022-03-14 20:15] vrurg commented on #9
I think, it makes sense to push it. At least it gets one case solved.

Documenting the problem also makes full sense. I barely expect anything could be done to get it fixed about `env`. But OTOH, those who use `rakubrew` are usually do non-standard things and therefore can think out a trick to get around the problem.

Though I'm uncertain about the location to document the situation about `env`. I

[2022-03-21 16:43] JJ opened #48 ""unauthenticated git protocol no longer supported""
- What's the output of `rakubrew rakubrew-version`?:

    rakubrew v27 Build type: fatpack OS: linux

- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out): *shim*

- Where is rakubrew installed? (run `rakubrew home` to find out): `~/.rakubrew`

I get this error when I try to build the latest Rakudo:

[code]

[2022-03-21 16:47] JJ commented on #48
I think that the problem is that if you upgrade `rakubrew`, it's using the old URL, since it's just doing `git fetch`

[2022-03-21 17:09] JJ commented on #48
Workaround is:

Goto `~/.rakubrew/versions/moar-2022.02` (it might be another one in your case) and

    emacs .edit/config

changing `git://` by `https://`.

It would be nice, however to have either of these

* Warnings when versions over 25 (which is where the change is introduced, I think) are installed
* Check for the repo configuration and change accordingly ← this is preferred, of course.

[2022-03-22 07:39] patrickbkr commented on #48
Good find! I hope to manage to have a look in the coming days.

[2022-03-22 20:35] anquegi commented on #48
Thanks for this workaroud:

For OSX and rakubrew installed with homebrew I did the change to this file:

` ~/.rakubrew/git_reference/rakudo/config`

[code]

[2022-03-26 22:52] ugexe opened #50 "`rakubrew download` doesn't index the version properly"
Note the `Done, moar- installed` below instead of `Done, moar-2020.02.1 installed`
[code]

[2022-03-26 23:09] ugexe opened #51 "`rakubrew download` isn't downloading the most recent release"
Note it is fetching `https://rakudo.org/dl/rakudo/rakudo-moar-2020.02.1-02-win-x86_64.zip` instead of `https://rakudo.org/dl/rakudo/rakudo-moar-2022.03-01-win-x86_64-msvc.zip`
[code]

[2022-03-28 19:22] patrickbkr commented on #47
This should be fixed by https://github.com/Raku/App-Rakubrew/commit/1553868483af480c1d1b083716163eb5f743c2d0 which went live with v27. Thanks for the report!

[2022-03-28 20:50] #50 closed

[2022-03-28 20:50] #51 closed

[2022-03-28 20:50] #48 closed

[2022-03-28 20:52] patrickbkr commented on #48
The fix will go live in v28 which I hope to release soonish.

[2022-03-28 20:52] patrickbkr commented on #51
Thanks for the report!
The fix will go live in v28 which I hope to release soonish.

[2022-03-28 20:53] patrickbkr commented on #50
Thanks again for the report!
The fix will go live in v28 which I hope to release soonish.

[2022-03-29 14:58] #47 closed

[2022-03-30 08:38] kuerbis commented on #45
I wanted to try an old raku code (2016) from a stackoverflow question.

[2022-04-02 23:17] hythm7 opened #52 "Allow specifying custom names for installed versions"
When building a specific commit like below:
`rakubrew build moar c742f32c17bdc64f8f8e4928f88dfb50832afc47`
I think it would be nice to be able to give it a name that I can remember when later using `rakubrew switch`

[2022-04-30 09:35] JJ opened #53 ""Unauthenticated git protocol... " error when building zef"
- What's the output of `rakubrew rakubrew-version`?:

Version 28

- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out):
shim

- Where is rakubrew installed? (run `rakubrew home` to find out):

~/rakubrew

---

Same problem as indicated in #48. That's been fixed, but it now occurs when doing rakubrew build zef.

[code]

[2022-04-30 13:09] patrickbkr commented on #53
Thanks for the report! I have just released version 29 fixing this. A `rakubrew self-upgrade` should get your installation repaired.

[2022-04-30 13:09] #53 closed

[2022-04-30 21:53] vrurg commented on #53
@patrickbkr BTW, it is not 100% true. I once had to manually remove local zef repository clone because rakubrew tried to update it and was failing. Not sure if it worth special handling in the code. Likely not.

[2022-04-30 22:44] patrickbkr commented on #53
@JJ Did it work for you? I wonder if vrurg had a non-normal setup or if this always fails...

[2022-05-01 16:00] JJ commented on #53
Right, worked like a charm.

[2022-05-01 17:18] patrickbkr commented on #53
OK. Then I'll for now assume some special case haunted vrurg and leave it as is. Thanks everyone!

[2022-05-01 20:22] hythm7 opened #54 "`rakubrew download` behaves different thatn `rakubrew build` on Windows"
The below program runs fine using rakudo installed with `rakubrew build moar 2022.04` but dies if run  with rakudo installed with `rakubrew download moar 2022.04` , on windows only. On linux the program runs fine for both downloaded and built rakudo.

OS: Windows 10.
Compiler: gcc
Libcurl:  curl-7.82.0-win64-mingw

[code]

[2022-05-01 21:12] vrurg commented on #53
@patrickbkr I can tell you exactly what it was. An old cloned repo of zef which was using `git` protocol. `rakubrew` tried to update it and was failing. After I removed it manually the new clone was fetched using `https`. Nothing really special.

[2022-05-02 07:18] patrickbkr commented on #53
@vrurg Do you know why it was failing to upgrade the repo?

The code doing the upgrade is:

[code]

My first guess would be a permissions issue.

[2022-05-02 08:02] patrickbkr commented on #54
In general calling C dlls compiled with a different compiler toolchain should work, even more so when using an abstraction like dyncall (which MoarVM uses).
Still I think that you might be observing some incompatibility of an MSVC compiled Rakudo and a MinGW compiled libcurl. (The Rakudo that `rakubrew download` uses is built with MSVC.)

Do you have a MSVC compiler toolchain available? Could you

[2022-05-02 15:15] patrickbkr commented on #53
@vrurg That approach doesn't reproduce the situation entirely. The logic to fix the repos is only run during the rakubrew update process and then also only when the old version is 28 or lower, not on every run. So to reproduce you would now have to download a rakubrew v28 (https://rakubrew.org/files/28/macos/rakubrew), replace `~/.rakubrew/bin/rakubrew` with it and then run `rakubrew self-upgrade`

[2022-05-02 19:41] hythm7 commented on #54
( unfortunately my windows experience is limited)
I have downloaded and installed MSVC, Is there a way to tell rakubrew to use the newly installed build tool chain when building?
Or how can i build rakudo using msvc from cli? I have looked into Rakudo build instructions in README.md and INSTALL.md and could not find something specific to windows or msvc.

[2022-05-03 00:43] vrurg commented on #53
I barely going to give it all a try. :) So, let's see if somebody else hits the issue. If not then we can safely assume there is no problematic installations are left in the wild.

[2022-05-03 09:49] patrickbkr commented on #54
I think the following command should do the trick:

    rakubrew build moar-2022.04 --configure-opts="--moar-option='--toolchain=msvc'"

This command is to be called in a `Developer Console` (either Powershell or CMD).

[2022-05-03 10:55] patrickbkr commented on #9
The PR has been merged a month ago already. So closing.

[2022-05-03 10:55] #9 closed

[2022-05-03 11:10] patrickbkr commented on #44
Moved over to https://github.com/MoarVM/MoarVM/issues/1702.

[2022-05-03 11:10] #44 closed

[2022-05-03 14:21] sumanstats commented on #54
You have `curl.dll` or `libcurl.dll`? If its `libcurl.dll`, then need to do

[code]

[2022-05-03 14:31] hythm7 commented on #54
I have it `curl.dll`, which exists in `System32.` folder.  I use `curl` rather than `libcurl` because Raku will change the given name in `constant LIB = 'libcurl';` based on platform, (e.g. on windows it will append `.dll`, on Linux it will prepend `lib` and append `.so`)

[2022-06-01 07:03] samebchase opened #55 "Rakubrew is timing out when fetching available Raku versions from Github"
I'm unable to list the available Raku versions.

[code]

- What's the output of `rakubrew rakubrew-version`?:

[code]

- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out):

[code]

- Where is rakubrew installed? (run `rakubrew home` to find out):

[code]

- Perl Information

[code]

Rakubrew was installed using CPANM.

[2022-06-01 07:07] samebchase commented on #55
For some strange reason it is working again. Will try and figure out the exact situation where it does not work. Closing for now.

[2022-06-01 07:07] #55 closed

[2022-06-22 20:49] Veraellyunjie opened #56 "OpenBSD - MoarVM panic: Memory allocation failed"
OpenBSD 7.1 amd64
Tried 3 times with `rakubrew build moar master`, `rakubrew build moar-blead` and `rakubrew build`:

`MoarVM panic: Memory allocation failed; could not allocate 36864 bytes`
`MoarVM panic: Memory allocation failed; could not allocate 660952 bytes`
`MoarVM panic: Memory allocation failed; could not allocate 660152 bytes`

I don't know how to troubleshoot it. I understand it is bare

[2022-06-23 09:37] patrickbkr commented on #56
@Veraellyunjie How much RAM does the computer have you are building on? The Rakudo CORE.c.setting compilation (the part where it failed) does require quite some RAM (>1 GB).

[2022-06-23 11:35] patrickbkr commented on #56
Hm. The error points quite clearly at an out of memory situation.
Can you determine at what memory use the build roughly errors? (e.g. by looking at top/htop/...)
Do you know whether OpenBSD has any mechanisms to limit the resources a process can use and whether any such limit is in effect?

[2022-06-24 15:56] Veraellyunjie commented on #56
Success. Your @patrickbkr cue made me look in the right direction.

---

Have already edited my config and don't recall old values...

---
Tried:
[code]
[code]
Is there a way to run rakubrew via a wrapper programm like `/usr/bin/time` or `torsocks`?

---
`while :; do ps -x -o rss,maxrss,vsz,command >> /tmp/rakubrew_build.ps.log; sleep 1; done`
`grep moar /tmp/rakubrew_build.ps.log | sort -h -k 1`

[2022-08-22 22:01] sdondley opened #57 "Unable to build on Windows 11"
- What's the output of `rakubrew rakubrew-version`?: rakubrew v29 Build type: win OS: MSWin32
- Are you using rakubrew in `env` or in `shim` mode? (run `rakubrew mode` to find out): shim
- Where is rakubrew installed? (run `rakubrew home` to find out): c:\rakubrew\bin

I have windows 11 virtual machine running in Virtual Box. I successfully installed rakubrew, but when trying to build with `rakubr

[2022-08-23 12:02] sdondley commented on #57
Ok thanks. Will look into it when I get a chance. I'm not a windows guy so I'm pretty clueless on this. Never used powershell before.

[2022-08-23 13:46] sdondley commented on #57
After my unsuccessful attempts with rakubrew yesterday, I installed a windows binary version of Raku which I think must have installed the necessary software components because I can now use rakubrew to build rake successfully.

[2022-08-23 13:59] patrickbkr commented on #57
That doesn't sound right. Which version did you install? The MSI installer from rakudo.org? Did you do anything else from running the MSI?

Did you run `. C:\path\to\this\folder\scripts\set-env.ps1` in the shell (as the README of the installer recommends) before using rakubrew? Or did you use a "Developer Command line" or "Developer PowerShell"? If yes, then that's the reason it started working.

[2022-08-23 18:49] sdondley commented on #57
Yes, I installed the binary using the download at https://rakudo.org/downloads under the "Windows" tab: https://rakudo.org/dl/rakudo/rakudo-moar-2022.07-01-win-x86_64-msvc.msi

I don't specifically recall running anything the modified set-env.ps1. I followed the install instructions for powershell here: https://rakubrew.org/?platform=win then did `rakubrew init` which had me run some other command

[2022-08-23 20:23] sdondley commented on #57
I just tried again with a clean install of windows 11 and I'm getting similar results. I think I have this line:

`. "C:\rakubrew\bin\rakubrew.exe" init PowerShell | Out-String | Invoke-Expression`

in the `C:\rakubrew\bin> cd C:\Users\sdond\Documents\WindowsPowerShell\WindowsPowerShell` file.

The above line was inserted by following the instructions provided by `rakubrew init`:

[code]

Despite

[2022-10-21 15:14] patrickbkr commented on #57
I guess this can be closed. Please reopen if I'm mistaken.

[2022-10-21 15:14] #57 closed

[2022-11-08 16:35] melezhik opened #59 "Rakubrew switch does not work?"
Hi I am trying to use rakubrew in Sparrow, I use rakubrew low level installation mode (following documentation) and then `raku brew download moar-$version && rakubrew switch $version` however I do see that old (system) raku still in use :

[code]

The full log could be found here - https://ci.sparrowhub.io/report/1620

[2022-11-08 16:38] melezhik commented on #59
I use manual method of rakubrew installation:

[code]

[2022-11-08 18:26] melezhik opened #60 "raku: No such file or directory when trying to use in SparrowCI"
I here is what I get when I try to use rakubrew in SparrowCI:

[code]

I am not sure what I do wrong here ...

Full log is available - https://ci.sparrowhub.io/report/1626 ( please pay attention that the most recent logs appear on the top ... )

[2022-11-08 18:46] melezhik commented on #60
I have added `ldd` information, is it alpine OS related issue?

[code]

the full log is available - https://ci.sparrowhub.io/report/1629

[2022-11-08 19:27] melezhik commented on #60
yes, this looks like alpine OS issue, not reproduced on Debian for example - https://ci.sparrowhub.io/report/1632

[2022-11-08 20:46] patrickbkr commented on #60
Yes, the executables on rakudo.org (which rakubrew uses) don't work on Alpine, because libc is incompatible. The error is sadly misleading. I already put a comment on rakudo.org/download hinting at the issue. The best bet is to build a Rakudo yourself or just use the ones in the Alpine repos. They should be fairly up to date.

Unreleated to this issue: I generally recommend not using Rakubrew in a

[2022-11-08 21:10] melezhik commented on #60
Good! Where can I get an example script for that?

[2022-11-09 10:45] patrickbkr commented on #60
The following is untested, but it should be as simple as:

[code]

There is some documentation about the `set-env.sh` script in the README.md file in the same archive.

[2022-11-09 17:19] melezhik commented on #60
@patrickbkr - thanks for that. SparrowCI works fine  with new installation method - https://ci.sparrowhub.io/report/1670

[2022-11-09 17:19] #60 closed

[2022-11-14 18:46] ugexe opened #61 "rakubrew installation not working on Apple M2"
[code]

[2022-11-14 18:50] ugexe commented on #61
This issue goes away after installing Rosetta

[2022-11-14 18:50] #61 closed